body{
    background-color: #7076A9;
    
    background:#999999 url('image/988124.jpg') no-repeat center center fixed;
        }
}

<meta name="viewport" content="width=device-width, initial-scale=1">

a{
    text-decoration: none;
    color: red;
}

h1, h2,{
    margin: 0;
}

#container{
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header{
    background-color: #66CCFF;
    color: white;
    text-align: center;
    padding: 10px;
}

#content{
    padding: 10px;
}

#nav{
    width: 180px;
    float: left;
}

#nav ul{
    list-style-type: none;
    padding: 0;
}

#main{
    font-family: serif;
    text-align: center;
}

#footer{
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align: right;
}

#nav .selected{
    font-weight: bold;
        
}
.tabel {
    height: 100px;
    width:200px;
    text-align: center;
    border:3;
}
#header {
    background-color: gainsboro;
    color: black;
    height: 50px;
    width: 100%;
    }

#header h3 a {
    font-size: 20px;
    text-decoration: none;
    font-family:sans-serif;
    color:darkred;
    float:left;
    padding-top: 10px;
    padding-left: 20px;
}
#header h3 a:hover{
    font-size: 20px;
    text-decoration: none;
    font-family:sans-serif;
    color:darkseagreen;
    float:left;
    padding-top: 10px;
    padding-left: 20px;
}